@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

html {
position:relative;
min-height: 100%;
}

body {
height:100%;
font-family:arial;
font-size:10px;
/*text-align:center;*/
}

body a:-webkit-any-link {
color:#000;
text-decoration:none;
}

#list {
color:#000;
font-family:Lobster, cursive;
font-size:45px;
/*text-align:center;*/
border-style:solid;
border-width:10px;
border-color:#ffffff;
display:block;
}

.contrast {
color:#e8ebed;

}

footer { 
width:100%;
bottom:20px; 
height:20px;
position:absolute;  /*border-style:solid; border-top-width: 120px;border-color:#ffffff;*/
text-align:center;
}

