@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

div {
height:50px;
font-family:arial;
font-size:10px;
color: hsl(20,100%,50%);
position:50%;
line-height:50px;
}

#pagetitle {
color:#000;
font-family:Lobster, cursive;
font-size:90px;
text-align:center;
border-style:solid;
border-width:120px;
border-bottom-width: 120px;
border-color:#ffffff;
}

#footer {
border-style:solid;
border-top-width: 120px;
border-color:#ffffff;
text-align:center;
}


body a:-webkit-any-link {
color: hsl(20,100%,50%);
text-decoration:none;

}