@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

/*div {
height:50px;
font-family:arial;
font-size:10px;
position:50%;
line-height:50px;
}
*/

#pagetitle {
color:#000;
font-family:Lobster, cursive;
font-size:90px;
text-align:center;
border-style:solid;
border-width:120px;
border-bottom-width: 120px;
border-color:#ffffff;
}


body a:-webkit-any-link {
color:#000;
text-decoration:none;}

#footer {
border-style:solid;
border-top-width: 120px;
border-color:#ffffff;
text-align:center;
line-height:10px;
height:50px;
font-family:arial;
font-size:10px;
position:50%;
line-height:50px;
}


/*size of viewport for 3d objects*/
.container {
	width: 400px;
	height: 200px;
	left:52%;
	position: relative;
	border: 0px solid black;
	-webkit-perspective: 200px;
	-webkit-perspective-origin: 60%, 50%;

}
/*parent for the cube faces*/
#cube {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
}

/*all faces will do this*/
#cube figure{
	width: 200px;
	height: 200px;
	margin: 0px;
	display: block;
	position:absolute;
	border:0px;
}

#cube .color1 { -webkit-transform: rotateY(0deg) translateZ(100px);opacity:.1}
#cube .color2 {-webkit-transform: rotateX(180deg) translateZ(100px);}
#cube .color3 {-webkit-transform: rotateY(90deg) translateZ(100px);}
#cube .color4{-webkit-transform: rotateY(-90deg) translateZ(100px);}
#cube .color5{-webkit-transform: rotateX(90deg) translateZ(100px);}
#cube .color6{-webkit-transform: rotateX(-90deg) translateZ(100px);}

/*translate must follow the rotate*/



