@import url(http://fonts.googleapis.com/css?family=Bangers);

div {
font-family: Arial, "MS Trebuchet", sans-serif;
font-size: 15px;
}


#pictureplane
{margin-top:200px;
 margin-left: 500px;
 width:50px;
 height:100px;
 background-color: blue;
 -webkit-transform: skew(10deg,20deg);
}

#ceiling 
{width:50px;
 margin-left: 500px;
 height:100px;
 background-color: orange;
}

#floor
{width:50px;
 margin-left: 500px;
 height:100px;
 background-color: red;
  -webkit-transform: skew(10deg,-20deg);
}

#loud
{margin-top: -400px;
 font-family: Bangers, Arial;
 font-size: 90px;
 -webkit-transform: rotate(10deg);

}









